[Desktop Entry]
Name=Cisco Packet Tracer Student
Exec=env WINEPREFIX="/home/hed/.wine" wine C:\\\\Program\\ Files\\ \\(x86\\)\\\\Cisco\\ Packet\\ Tracer\\ 6.2sv\\\\bin\\\\PacketTracer6.exe 
Type=Application
StartupNotify=true
Path=/home/hed/.wine/dosdevices/c:/Program Files (x86)/Cisco Packet Tracer 6.2sv/bin
Icon=19D0_PacketTracer6.0
